*,body,html {
	margin:0;
	padding:0;
}

.content{
	display:flex;
	flex-direction:row;
	justify-content:center;
	background-color:#F44336;
	padding:16px;
	color:white;
}

.cover {
	width:100%;
}

.gg{
	display:flex;
	flex-direction:column;
	text-align:center;
	margin:10px;
	padding:100px;
}

.gg h1{
	height:40px;
	font-weight:bold;
	text-align:center;
	}
	
.gg h2{
	font-size:22px;
	margin:10px;
	font-weight:normal;
	color:#666;
}

.gg p{
	font-size:14px;
	margin:5px:
	color:#999;
	text-align:center;
}
	
	
.flex{
	display: flex;
	flex-direction:row;
	width: 100%;
	gap:16px;
}

.salad h3{
	text-align:center;
	weight:400;
	size:22px;
	line-height:28px;
}

.salad p{
	text-align:center;
	weight:400;
	size:14px;
	line-height:20px;
	letter-spacing:0.25px;
}

.salad h4{
	text-align:right;
	weight:400;
	size:22px;
	line-height:28px;
}
	
.salad h5{
	text-align:center;
	flex: 1;
	min-width: 250px;
	max-width: 300px;
	border: 1px;	
	border-radius: 8px;
	flex-direction:row;
	weight:400;
	size:14px;
	line-height:20px;
	letter-spacing:0.25px;
}
	
.pizza h3{
	text-align:center;
	weight:400;
	size:22px;
	line-height:28px;
}

.pizza p{
	text-align:center;
	weight:400;
	size:14px;
	line-height:20px;
	letter-spacing:0.25px;
}

.pizza h4{
	text-align:center;
	weight:400;
	size:22px;
	line-height:28px;
}

.pizza h5{
	text-align:center;
	flex: 1;
	min-width: 250px;
	max-width: 300px;
	border: 1px;	
	border-radius: 8px;
	flex-direction:row;
	weight:400;
	size:14px;
	line-height:20px;
	letter-spacing:0.25px;
}

.wine h3{
	text-align:center;
	weight:400;
	size:22px;
	line-height:28px;
}

.wine p{
	text-align:center;
	weight:400;
	size:14px;
	line-height:20px;
	letter-spacing:0.25px;
}

.wine h4{
	text-align:center;
	weight:400;
	size:22px;
	line-height:28px;
}

.wine h5{
	text-align:center;
	flex: 1;
	min-width: 250px;
	max-width: 300px;
	border: 1px;	
	border-radius: 8px;
	flex-direction:row;
	weight:400;
	size:14px;
	line-height:20px;
	letter-spacing:0.25px;
}	

.cofe h3{
	text-align:center;
	weight:400;
	size:22px;
	line-height:28px;
}

.cofe p{
	text-align:center;
	weight:400;
	size:14px;
	line-height:20px;
	letter-spacing:0.25px;
}

.cofe h4{
	text-align:center;
	weight:400;
	size:22px;
	line-height:28px;
}

.cofe h5{
	text-align:center;
	flex: 1;
	min-width: 250px;
	max-width: 300px;
	border: 1px;	
	border-radius: 8px;
	flex-direction:row;
	weight:400;
	size:14px;
	line-height:20px;
	letter-spacing:0.25px
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.price {
  font-weight: bold;
  font-size: 22px;
}

.price-sendiri {
	text-align:right;
	font-weight: bold;
	font-size: 22px;
	padding-right: 20px;
	padding-left: 20px;
}



.menu {
	flex: 1;
    display: inline-block;
    width: 250px;
    background-color: #ffffff;
}



